body{
    background-color: #FBFBFF !important;
    /* background: url(../img/Bandeira_de_Várzea_da_Palma.jpg) !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: 100% !important; */
}

.jumbotron {
    background-color: #002626 !important;
    color: #F0EDEE !important;
}

.navbar{
    background-color: #002626 !important;
    color: #F0EDEE !important;
}

.navbar a{
    color: #F0EDEE !important;
}

#carouselIndex{
    height: 100%;
    border: 1px black solid;
}

.textcarousel {
}

#sessaoMapa h1{
    justify-content: center !important;
    vertical-align: middle !important;
}

.linksin{
    margin-top: 30px;
}

.img02 {
    border-radius: 10%;
    height: 100%;
    width: 100%;
}

.efeitoParallax{
    background: url(../img/FORRO\ DA\ PALMA.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.efeitoParallax2{
    background: url(../img/Serrinha-vzp-varzea-da-palma-turismo-13.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxTitle{
    padding: 0;
}

.tamanhoParallax{
    height: 400px;
    width: 100%;
}

.img-circle {
    border-radius: 50%;
    width: 140px;
    height: 140px;
}

footer{
    margin-top: 30px;
    background-color: #0E4749;
    color: white;
}

#toTop {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    width: 51px;
    height: 51px;
    border: none;
    color: black;
}

#toTop img{
    width: 100%;
}
